/* COLORS AS VARIABLES */
:root {

    --nav-color: #2c3e50;
    --background-color: #EFEFF3;
    --white: #ffffff;
    --gray-1: #868179;
    --gray-2: #565645;
}

html, body {
    background-color: var(--background-color);
    height: 100%;

}

.wrapper {
    min-height: 100%;
}

.panel {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-default > .panel-heading {
    background-color: var(--nav-color);
    color: var(--white);
}


#main-menu {
    margin-bottom: 20px;
}

form .alert {
    display: none;
}

.submit-button {
    margin-top: 10px;
}

.frontpage-image {
    margin-top: 50px;
}

.logo-image {
    margin-top: -10px;
}

.frontpage-text {
    text-align: center;
}

.frontpage-small-text {
    margin-top: 40px;
    margin-bottom: 30px;
}

.dropdown-header {
    color: var(--nav-color);
    font-weight: bold;
}

.panel {
    margin-bottom: 15px;
}

.full-page-panel {
    margin-bottom: 40px;
}


th {
    background-color: var(--nav-color);
    color: white;
    font-weight: normal;
    font-size: 17px;
}

table {
    border-collapse: separate;
}

.table-bordered, .table {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.table > tbody > tr > td.vertical-align {
    vertical-align: middle;
}

.table > tbody > tr > td {
    border: 1px solid rgba(44, 62, 80, 0.30);
}

.table > thead > tr {
    border: 1px solid var(--nav-color);
}

.table > thead:first-child > tr:first-child > th {
    border: 1px solid var(--nav-color);
}

.table > thead > tr > th:first-child {
    border: 1px solid var(--nav-color);
    border-top-left-radius: 4px;
}

.table > thead > tr > th:last-child {
    border: 1px solid var(--nav-color);
    border-top-right-radius: 4px;
}

@media (min-width: 768px) {
    #main-menu {
        margin-bottom: 25px;
    }

    .panel-content {
        padding: 25px 40px 10px 40px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
