/* COLORS AS VARIABLES */
:root {

    --nav-color: #2c3e50;
    --background-color: #EFEFF3;
    --white: #ffffff;
    --gray-1: #868179;
    --gray-2: #565645;
}

html, body {
    background-color: var(--background-color);
    height: 100%;

}

.wrapper {
    min-height: 100%;
}

.panel {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-default > .panel-heading {
    background-color: var(--nav-color);
    color: var(--white);
}

#main-menu {
    margin-bottom: 40px;
}

form .alert {
    display: none;
}
