{% extends 'DSSCDB/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
  <link href="{% static 'usermanagement/css/usermanagement.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default full-page-panel">
          <div class="panel-heading">
            <h3 class="panel-title">My profile</h3>
          </div>
          <div class="panel-body panel-content">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <table class="table table-striped">
                  <tbody>
                  <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{ user_profile.user.email }}</td>
                  </tr>
                  <tr>
                    <td><strong>Organization:</strong></td>
                    <td>{{ user_profile.organization }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
