{% extends 'DSSCDB/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
  {% if errors %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Errors</h3>
            </div>
            <div class="panel-body panel-content">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Row</th>
                  <th>Field</th>
                  <th>Message</th>
                </tr>
                </thead>
                <tbody>
                {% for error in errors %}
                  {% if 'already exists' not in error.message|striptags %}
                    <tr>
                      <th>{{ error.row }}</th>
                      <td>{{ error.key }}</td>
                      <td>{{ error.message|striptags }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Batch upload spreadsheet data </h3>
          </div>
          <div class="panel-body panel-content">
            <form action="{% url 'dye:file-upload' %}" method="post" class="form file-upload-form"
                  enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form file_form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary submit-button">Upload</button>
                <div class="loader">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
                  </svg>
                </div>
                <div class="loader-text">
                  <p>The upload may take a while</p>
                </div>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block footer-scripts %}
  <script type="text/javascript" src="{% static 'dye/javascript/dye.js' %}"></script>
{% endblock footer-scripts %}
