{% if contributions %}
  <table class="table table-hover">
    <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for contribution in contributions %}
      <tr class="clickable-row" data-href="{{ contribution.get_absolute_url }}">
        <td>
          <strong>
            {% if admin %}
              <a href="{% url "user:admin-users" %}">{{ contribution.user.first_name }} {{ contribution.user.last_name }}</a>
            {% else %}
              <span>{{ contribution.user.first_name }} {{ contribution.user.last_name }}</span>
            {% endif %}
          </strong>
        </td>
        <td>{{ contribution.created|date:"j. F - H:i" }}</td>
        <td>{% if contribution.status == 1 %}Waiting{% elif contribution.status == 3 %}Denied{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  There are no contributions here yet. <a href="{% url "dye:single-upload" %}"></a>
{% endif %}
