{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title> Dye Sensitized Solar Cell Database</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

  <link href="{% static 'DSSCDB/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'DSSCDB/css/base.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'DSSCDB/css/spinner.css' %}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{% static 'DSSCDB/javascript/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DSSCDB/javascript/bootstrap.min.js' %}"></script>
  <style>
    #main-menu {
        background-image: url('{% static "DSSCDB/images/background.jpg" %}') !important;
    }
  </style>
  {% block styles %}
  {% endblock styles %}

  {% block head-scripts %}
  {% endblock head-scripts %}
</head>

<body>
<main class="wrapper">
  {% include "DSSCDB/menu.html" %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% bootstrap_messages %}
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
</main>
{% include 'DSSCDB/footer.html' %}
{% block footer-scripts %}
{% endblock footer-scripts %}
<script type="text/javascript" src="{% static 'DSSCDB/javascript/utils.js' %}"></script>
<script>
  $(function(){
    var $wrapper = $(".wrapper");
    var $footer = $("#footer");
    $wrapper.css("margin-bottom",-$footer.height());
    $wrapper.css("padding-bottom",$footer.height());
  });
</script>
</body>
</html>
