{% extends 'DSSCDB/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default full-page-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Sign up</h3>
          </div>
          <div class="panel-body panel-content">
            <form action="{% url 'user:signup' %}" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              <a href="{% static 'DSSCDB/agreement.pdf' %}">User agreement</a>
              {% buttons %}
                <button type="submit" class="btn btn-primary submit-button">Sign up</button>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
