{% load static %}
<link href="{% static 'DSSCDB/css/footer.css' %}" rel="stylesheet" type="text/css">
<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row footer-content">
        <div class="col-lg-4 col-xs-6 footer-panel">
          <ul>
            <li><p class="footer-text">Information</p></li>
            <li><a href="{% url 'contact' %}">Contact us </a></li>
            <li><a href="https://github.com/martsime/DSSCDB"> Github </a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-xs-6 footer-panel">
          <ul>
            <li><p class="footer-text">Special thanks to</p></li>
            <li><a href="http://www.ntnu.edu/chemistry"> Department of Chemistry, NTNU </a></li>
            <li><a href="http://peter-ertl.com/jsme/"> JSME Molecule Editor </a></li>
          </ul>
        </div>
        <!--/.row-->
      </div>
    </div>
    <div class="row">
      <div class="footer-bottom">
        <div class="container">
          <p class="pull-left"> Copyright {% now "Y" %} © Dye Sensitized Solar Cell Database. All right reserved. </p>
          <div class="pull-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
  <!--/.footer-->

  <!--/.footer-bottom-->
</footer>
