{% extends 'DSSCDB/base.html' %}
{% load static %}
Dye Sensitized Solar Cell Database
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3">Dye Sensitized Solar Cell Database</h2>
      <p>Welcome to DSSC database! A comprehensive collection of solar efficiencies</p>
      <p><a href="{% url 'user:signup' %}" role="button">Sign up</a> and <a href="{% url 'user:login' %}">log in</a> to contribute to the database
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Dyes</h2>
            <p>In recent years, sensitizing dyes for usage in dye sensitized solar cells have
              attracted considerable attention. Although much work is required to reach optimal
              device efficiencies, significant effort has gone into improving the photophysical
              and photochemical properties of dyes. In addition to the dye, changes to the
              cell fabrication process and modifications to other components such as the photoanode,
              electrolyte and counter electrodes impact both the efficiency and stability of DSSCs.
            </p>
          </div>
          <div class="col-md-3">
            <h2>Efficencies</h2>
            <img src="{% static 'DSSCDB/images/dye_plots.png' %}" class="img-responsive">
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}
