{% load static %}

<nav class="navbar navbar-default" id="main-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'DSSCDB/images/logo.png' %}"
                                                            class="img-responsive logo-image"
                                                            alt="Responsive image" width="200" height="50"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'flatpages:django.contrib.flatpages.views.flatpage' 'about' %}">
          <img class="menu-icon" src="{% static "DSSCDB/images/ic_info_outline_white_24px.svg" %}">
          About</a>
        </li>
        <li><a href="{% url 'contact' %}"><img class="menu-icon" src="{% static "DSSCDB/images/ic_mail_outline_white_24px.svg" %}">
          Contact us </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            <img class="menu-icon" src="{% static "DSSCDB/images/ic_list_white_24px.svg" %}">
            Browse <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'dye:performance-keyword-search' %}">Keyword</a></li>
            <li><a href="{% url 'dye:performance-range-search' %}">Range</a></li>
            <li><a href="{% url 'dye:performance-range-search' %}">Structure</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            <img class="menu-icon" src="{% static "DSSCDB/images/ic_file_upload_white_24px.svg" %}">
            Upload <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'dye:single-upload' %}">Single record</a></li>
            <li><a href="{% url 'dye:file-upload' %}">File</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
          <li><a href="{% url 'user:signup' %}">Sign up</a></li>
          <li><a href="{% url 'user:login' %}">Log in</a></li>
        {% else %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <img class="menu-icon" src="{% static "DSSCDB/images/ic_person_white_24px.svg" %}">
              {{ request.user.first_name }} {{ request.user.last_name }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% if request.user.is_staff %}
                <li class="dropdown-header">Admin</li>
                <li><a href="{% url 'user:admin-users' %}">Users</a></li>
                <li><a href="{% url 'dye:evaluate-contributions' %}">All contributions</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Profile</li>
              {% endif %}
              <li><a href="{% url 'user:profile' %}">My profile</a></li>
              <li><a href="{% url 'dye:my-contributions' %}">My contributions</a></li>
              <li><a href="{% url 'user:change-password' %}">Change password</a></li>
              <li><a href="{% url 'user:logout' %}">Log out</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
